.container{
    text-align:center;
}



.heading-center-text{
    color: #34c1e7;
    font-size:28px;
    font-family: open sans;
    text-align:center;
    font-weight:bold;
    padding:30px;
}

.desc-center-text{
    text-align:center;
    color:#b4c408;
    font-size:14px;
    font-family: open sans;
    font-weight:bold;
    font-style:italic;
    padding-left:150px;
    padding-right:150px;
    margin-bottom:50px;
}

.catbreed-title{
    text-align:center;
}