.heroimagediv {
    width: 100%;
    height: 80%;
    overflow: hidden;
    text-align: center;
}

.heroimage {
    height: auto;
    max-width: 100%;
}

.herotitle {
    padding: 20px;
    width: 100%;
    text-align: center;
    color: #de3f52;
    font-size: 220%;
}