.slider1 {
    width: 100%;
    height:100%;
    text-align: center;
    overflow: hidden;
  }
  
  .slides1 {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides1::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides1::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides1 > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .slides1 > div:target {
  /*   transform: scale(0.8); */
  }
  
  
  
  .slider1 > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider1 > a:active {
    top: 1px;
  }
  .slider1 > a:focus {
    background: #000;
  }

  .slide-main{
      display:flex;
      flex-direction: column;
      padding:50px;
  }

  .review-image{
      width:5%;
  }

  .align-left{
      text-align:left;
      width:100%;
  }

  .align-right{
    text-align:right;
    width:100%;
}

.container-box{
    display:flex;
    align-items:center;
}