.logoMain {
    padding: 5px;
    height: 63px;
    width: auto;
    display: block;
    float: left;
}

.logocontainer {
    width: 30px;
}

.logomaindiv {
    display: flex;
    justify-content: space-around;
}

.menucontainer {
    padding: 5px;
}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul {
    background: white;
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: linear-gradient(top, #bbeeff 0%, #0055bb 40%);
}

nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

nav ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a {
    padding: 10px 15px;
    color: #000;
}

nav ul ul li a:hover {
    background: #4b545f;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}