.top-header-container {
    display: flex;
    align-items: center;
    background-color: #082b49;
    height: 4vw;
    color: #d0d1d2;
    font-size: 13px;
    justify-content: space-around;
}

.itemcontainer {
    display: flex;
}

.icondiv {
    padding: 5px;
}

.top-header-item1 {
    padding: 10px;
}

.top-header-item2 {
    padding: 10px;
}

.top-ebook-container {
    background-color: #de3f52;
    color: #ffffff;
    text-align: center;
}









.footercontainer {
    background-color: #07243e;
    height: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-image {
    height: 70%;
    width: 70%;
    padding: 30px;
}

.footer-text {
    color: white;
    font-size: 150%;
}

.footer-smalltext {
    color: white;
    padding: 10px;
}

.textandbutton {
    display: flex;
}

.footer-button {
    background-color: #df3f52 !important;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    box-sizing: padding-box;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.last-footer {
    height: 8vw;
    background-color: #051c2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item1 {
    padding: 10px;
}

.footer-item2 {
    display: flex;
}

.footer-link1 a {
    margin-right: 5px;
    color: #47c9ec;
}

.footer-link2 a {
    margin-right: 5px;
    color: #47c9ec;
}

.social-icons {
    display: flex;
}

.footer-icon {
    padding: 10px;
}